<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
			<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type='text/css' href="/stylesheets/app.cssmkdir ">
	</head>
	<body>
		<div class='ui inverted menu'>
			<div class='ui fixer container'>
				<div class='header item'>
					<i class='chess icon'></i>   BLOG!
				</div>
				<a href='/' class='item'>Home</a>
				<a href='/blogs/new' class='item'>New</a>
			</div>
			
		</div>
